window,
dialog {
    background: shade(#243b53, 0.75);
}

.error_modal {
    background: shade(#243b53, 0.75);
}

.error_modal button {
    background: shade(#334e68, 1);

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 15px;
}

.error_modal label {
    margin-top: 15px;
    font-size: 15px;
}

.notebook {
    border: none;
}

.notebook > header.top {
    background: shade(#243b53, 0.75);
    border: none;
}

.btn_add_chat_group {
    background: shade(#334e68, 0.9);
    border-radius: 50px;
}

button {
    background: shade(#243b53, 0.75);
}

label {
    font-size: 15px;
    color: #f5f7fa;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 15px;
}

.panned {
    background: shade(#243b53, 0.6);;
}

.notebook_tab {
    background-color: shade(#243b53, 0.75);
}

.tooltip * {
    background-color: transparent;
}

.search_entry {
    font-size: 15px;
}

.entry {
    border-radius: 15px;
    font-size: 17px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.b_close_profile {
    background: shade(#243b53, 0.6);
    margin-right: 10px;
    margin-top: 10px;
}

.l_select_chat {
    font-size: 17px;
}

.username_button {
    background: shade(#243b53, 0.75);
}

.save_profile_btn,
.b_delete_account {
    margin-bottom: 100px;
    background: shade(#334e68, 0.75);
    border-color: shade(#334e68, 0.75);
    border-style: solid;
    border-width: 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.save_profile_btn:hover,
.b_delete_account:hover {
    background: shade(#334e68, 0.9);
}

.add_btn {
    margin-bottom: 20px;
    margin-right: 20px;
}

.cancel_btn {
    margin-bottom: 20px;
    margin-left: 20px;
}

.l_new_group_name {
    margin-top: 30px;
    margin-right: 190px;
    font-size: 18px;
}

.error {
    font-size: 15px;
    color: red;
}

.success {
    font-size: 15px;
    color: green;
}

.invite_user_label {
    margin-bottom: 10px;
    margin-left: 20px;
}

.login_signup_error {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.new_group_error {
    margin-right: 40px;
    margin-bottom: 30px;
}

.chat_group_box {
    background: shade(#334e68, 0.85);
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.box_message {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    background-color: shade(#243b53, 0.75);
}

.box_message_button {
    margin-right: 5px;
}

.chat_name {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    background-color: shade(#243b53, 0.75);
}

.msg {
    background-color: rgba(94, 113, 133, 0.5);
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.message_input {
    background-color: shade(#243b53, 0.75);
    padding: 10px;
    padding-left: 10px;
}

.msgtxt {
    padding-top: 5px;
}

.username {
    margin-right: 50px;
    color: gray;
    font-size: 13px;
}

.time {
    color: gray;
    font-size: 13px;
}

.box5 {
    background-color: shade(#243b53, 0.75);
}

.l_not_users_found {
    font-size: 20px;
}

.user_box {
    background-color: shade(#243b53, 0.95);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.user_box_open_dialog_btn {
    border: none;
    border-color: shade(#243b53, 0.95);
    background-color: shade(#243b53, 0.95);
    margin-right: 20px;
}

.user_box_username {
    font-size: 18px;
}

.msg_margin_bottom {
    margin-bottom: 10px;
}

.b_download,
.b_download:hover,
.b_download:active,
.b_play,
.b_play:hover,
.b_play:active {
    border: none;
    border-radius: 25px;
    border-color: #555f6b;
    background: #555f6b;
    margin-right: 20px;
    padding: 8px;
}
