@define-color base_color #4B0082;
@define-color second_color #800080;
@define_color label_color #f5f7fa;

window {
    background: shade(@base_color, 0.75);
}

.error_modal {
    background: shade(@base_color, 0.75);
}

.error_modal button {
    background: shade(@second_color, 1);

    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 15px;
}

.error_modal label {
    margin-top: 15px;
    font-size: 15px;
}

.notebook {
    border: none;
}

.notebook > header.top {
    background: shade(@base_color, 0.75);
    border: none;
}

.btn_add_chat_group {
    background: shade(@second_color, 0.9);
    border-radius: 50px;
}

button {
    background: shade(@base_color, 0.75);
}

label {
    font-size: 15px;
    color: @label_color;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 15px;
}

.panned {
    background: shade(@base_color, 0.6);;
}

.notebook_tab {
    background-color: shade(@base_color, 0.75);
}

.tooltip * {
    background-color: transparent;
}

.search_entry {
    font-size: 15px;
}

.entry {
    border-radius: 15px;
    font-size: 17px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.b_close_profile {
    background: shade(@base_color, 0.6);
    margin-right: 10px;
    margin-top: 10px;
}

.l_select_chat {
    font-size: 17px;
}

.username_button {
    background: shade(@base_color, 0.75);
}

.save_profile_btn {
    margin-left: 500px;
    margin-bottom: 100px;
    background-color: shade(@second_color, 0.75);
    border-color: shade(@second_color, 0.75);
    border-style: solid;
    border-width: 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.save_profile_btn:hover {
    background-color: shade(@second_color, 0.9);
}
