window {
    background: #1f2933;
}

button {
    background: #1f2933;
}

label {
    font-size: 13px;
    color: #f5f7fa;
}

.btn_add_chat_group {
    background: #d7d3cf;
}

.panned {
    background: #323b4f;
}

.notebook {

}

.search {
    margin-top: 10px;
    margin-bottom: 10px;
}

.search_entry {

}

.entry {
    border-radius: 15px;
}

.b_close_profile {
    background: #323b4f;
    margin-right: 10px;
    margin-top: 10px;
}

.l_select_chat {
    font-size: 20px;
}
